body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 2px;
    cursor: pointer;
}

#search-container {
    display: none;
}

#search-container input {
    margin-right: 10px;
}

.content {
    margin-top: 20px;
    display: none;
}

#home .content, #home-btn.active {
    display: block;
}

#about .content, #about-btn.active {
    display: block;
}

#monster .content, #search-btn.active {
    display: block;
}

#error .content, #search-btn.active {
    display: block;
}

#data {
    display: flex;
} 

#info {
    padding-top: 50px;
    padding-left: 50px;
}

#render {
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;
}

#createPost {
    width: 60%;
}
#post {
    padding: 10px;
    cursor: pointer;
    vertical-align: bottom; 
}

table, th, td {
    border:1px solid black;
}

#clickable:hover {
    text-decoration: underline;
}

